{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Off-taker Details - Funding Application</title>
  <meta content="Liquital Capital provides innovative funding solutions to South African SMEs." name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
 <link href="{% static 'assets/img/favicon.png' %}" rel="icon" />
    <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet" />

    <!-- Vendor CSS Files -->
    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons' %}.css" rel="stylesheet" />
    <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />

  <style>
    .background-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      filter: blur(0.5px);
      background-position: center; 
      z-index: -10;
    }
    .th {
      font-size: 12px !important;
      background-color: black !important;

    }
    .opacity_modal {
      opacity: 1 !important;
    }

    /* Media query for screens with a maximum width of 800px */
    @media (max-width: 800px) {
      .background-container {
        background-position: center; 
      }
      .sml_form {
        width:fit-content;
      }
    }
  </style>
</head>


<body style="background-color: rgb(3 24 35);">
  <div class="background-container" style="background-image: url('{% static "assets/img/hero-bg.jpg" %}');"></div>
  <main class="container py-4">
    <!-- Home Button -->
    <div class="home-button-location mb-4">
      <a href="{% url 'index' %}" class="home_btn">
        <i class="bi bi-house-fill"></i> Home
      </a>
    </div>
  
    <!-- Progress Bar -->
    <div class="progress mb-4">
      <div class="progress-bar" role="progressbar" style="width: 96%;" aria-valuenow="96" aria-valuemin="0" aria-valuemax="96">Step 12 of 13</div>
    </div>
  
    <!-- Application Form -->
    <div class="card mb-3" style="overflow-x: auto; padding:10px; opacity: 0.85">
      <div class="pt-4 pb-2">
        <h5 class="card-title text-center pb-0 fs-4" style="color: #070f1c;">12. Director(s) Asset & Liability Statement</h5>
        <p class="text-center small">Please provide information about your Assets and Liability</p>
      </div>
    
      <form method="POST" class="g-3 needs-validation sml_form" style="width: 100%; font-size: 14px;" novalidate>
        {% csrf_token %}
        {{ asset_formset.management_form }}
        {{ liability_formset.management_form }}
      
        <!-- Assets Section -->
        <h5>Assets</h5>
        <table class="table" id="assetsTable" style="width: 100%; font-size: 14px;">
          <thead>
            <tr>
              <th>Asset Description</th>
              <th>Amount (R)</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for form in asset_formset %}
            <tr>
              <td >
                <input type="text" name="{{ form.description.html_name }}" class="form-control" id="{{ form.description.id_for_label }}" required value="{{ form.description.value|default_if_none:'' }}">
              </td>
              <td>
                <input type="number" name="{{ form.amount.html_name }}" class="form-control assetAmount" id="{{ form.amount.id_for_label }}" required value="{{ form.amount.value|default_if_none:'' }}" oninput="calculateTotal('asset')">
              </td>
              <td><button type="button" class="btn btn-primary addAssetRow">Add Row</button>
                  <button type="button" class="btn btn-danger removeRow" style="display: none;">Remove Row</button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
          <tfoot>
            <tr>
              <td>Total Assets</td>
              <td id="totalAssets">R0.00</td>
              <td></td>
            </tr>
          </tfoot>
        </table>
      
        <!-- Liabilities Section -->
        <h5>Liabilities</h5>
        <table class="table" id="liabilitiesTable" style="width: 100%; font-size: 14px;">
          <thead>
            <tr>
              <th>Liability Description</th>
              <th>Amount (R)</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for form in liability_formset %}
            <tr>
              <td><input type="text" name="{{ form.description.html_name }}" class="form-control" id="{{ form.description.id_for_label }}" required value="{{ form.description.value|default_if_none:'' }}"></td>
              <td>          
                <input type="number" name="{{ form.amount.html_name }}" class="form-control liabilityAmount" id="{{ form.amount.id_for_label }}" required value="{{ form.amount.value|default_if_none:'' }}" oninput="calculateTotal('liability')">
              </td>
              <td><button type="button" class="btn btn-primary addLiabilityRow">Add Row</button>
                  <button type="button" class="btn btn-danger removeRow" style="display: none;">Remove Row</button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
          <tfoot>
            <tr>
              <td>Total Liabilities</td>
              <td id="totalLiabilities">R0.00</td>
              <td></td>
            </tr>
          </tfoot>
        </table>
      
        <div class="d-flex justify-content-between mt-4">
          <a href="{% url 'section_11' %}" class="btn btn-secondary">Back</a>
          <button type="submit" class="btn btn-primary">Submit Application</button>
        </div>
        
        <!-- Declaration Modal -->
        <div class="modal fade opacity_modal" id="disablebackdrop" tabindex="-1" data-bs-backdrop="false">
          <div class="modal-dialog opacity_modal">
            <div class="modal-content opacity_modal" style="background-color: whitesmoke; border-color: darkgray;">
              <div class="modal-header">
                <h5 class="modal-title">Declaration of Accuracy and Responsibility</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>"I hereby declare and confirm that all the information provided in this application is true, accurate, and complete to the best of my knowledge and belief. I understand that any false, misleading, or incomplete information may have legal consequences and penalties.</p>
                <p>By clicking 'Yes,' I acknowledge the importance of the accuracy of the information I have provided and take full responsibility for any discrepancies or inaccuracies that may arise due to errors in this declaration."</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Yes, I Agree</button>
              </div>
            </div>
          </div>
        </div>
      
      </form>
      
    
    </div>
    
  </main>
  <!-- End #main -->

  <a
    href="#"
    class="back-to-top d-flex align-items-center justify-content-center"
  >
    <i class="bi bi-arrow-up-short"></i>
  </a>

  <!-- Vendor JS Files -->
  <script>
    // Initialize total values
    let totalAssets = 0;
    let totalLiabilities = 0;


    document.addEventListener('DOMContentLoaded', function () {
      // Calculate totals for any default values on page load
      calculateTotal('asset');
      calculateTotal('liability');

      // Trigger oninput event for each input field
    document.querySelectorAll('.assetAmount, .liabilityAmount').forEach(function(input) {
      var event = new Event('input', {
        bubbles: true,
        cancelable: true,
      });
      input.dispatchEvent(event);
    });
    });
    
    document.addEventListener('click', function (e) {
      if (e.target.classList.contains('addAssetRow')) {
        addRow('assetsTable', 'asset');
      } else if (e.target.classList.contains('addLiabilityRow')) {
        addRow('liabilitiesTable', 'liability');
      } else if (e.target.classList.contains('removeRow')) {
        const row = e.target.closest('tr');
        row.remove();
        calculateTotal('asset');
        calculateTotal('liability');
      }
    });
    
    function addRow(tableId, type) {
      const tableBody = document.getElementById(tableId).querySelector('tbody');
      const newRow = tableBody.insertRow();
      const formCount = tableBody.querySelectorAll('tr').length;
      console.log(formCount);
      const prefix = type === 'asset' ? 'assets' : 'liabilities'; // Adjust based on your actual prefixes
    
      newRow.innerHTML = `
        <td><input type="text" name="${prefix}-${formCount}-description" class="form-control" required></td>
        <td><input type="number" name="${prefix}-${formCount}-amount" class="form-control ${type}Amount" required oninput="calculateTotal('${type}')"></td>
        <td><button type="button" class="btn btn-danger removeRow">Remove Row</button></td>
      `;
    
      // Update the total forms count (Django formsets require this)
      document.querySelector(`input[name="${prefix}-TOTAL_FORMS"]`).value = formCount + 1;
    }
    
    function calculateTotal(type) {
      let total = 0;
      const amountInputs = document.querySelectorAll(`.${type}Amount:not([data-template])`);
      amountInputs.forEach(input => {
        const value = parseFloat(input.value) || 0;
        total += value;
      });
    
      const totalField = type === 'asset' ? 'totalAssets' : 'totalLiabilities';
      window[totalField] = total;
      document.getElementById(totalField).textContent = `R${total.toFixed(2)}`;
    }
    
    function capitalizeFirstLetter(string) {
      return string.charAt(0).toUpperCase() + string.slice(1);
    }
    
    </script>
    <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
    <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>

  
</body>
</html>