{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-md-12">
        <div class="card mb-4">
          <div class="card-body">

<h2>About Us</h2>
<hr>
<p> 

  Our service is a Credit model that is used to evaluate SME's.A credit scoring model is a mathematical model used 
  to estimate the probability of default, which is the 
  probability that customers may trigger a credit event (i.e. bankruptcy, obligation default, failure to pay, 
  and cross-default events). In a credit scoring model, the probability of default is normally presented in the 
  form of a credit score. The higher score refers to a lower probability of default.

  Although there are a number of common credit factors in credit scoring models, different types of loans may involve 
  different credit factors specific to the loan characteristics. For example, the credit factors for a credit card loan 
  may include payment history, age, number of account, and credit card utilization; the credit factors for a mortgage loan 
  may include down payment, job history, and loan size.
  
  Accurate and predictive credit scoring models help maximize the risk-adjusted return of a financial institution. 
  However, markets and consumer behavior can change rapidly during economic cycles, such as recessions or expansions. 
  For this reason, risk managers or credit analysts need not only to create the models, but also quickly adjust and validate them.
   Techniques used to create and validate credit scoring models include:
</p>

</div>
</div>
</div>
</div>
</div>
<br>
<br>
<br>
<br>

<div class="center">
  <div class="row justify-content-center">
   <div class="col-md-1 col-centered">
    <img src="{% static 'site_images/temp_logo.png' %}" alt="Site Logo" style="width: 60px;">
    </div>
  </div>
  <center><p><i>--  Automated Credit Model  --&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i></p></center>
  </div>
</div>

{% endblock %}