{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-md-12">
        <div class="card mb-4">
          <div class="card-body">

<h2>Home </h2>
<hr>
<p> 

  Welcome to Credit Model , bluh bluh bluh. Few pictures or graphs here and there
</p>

</div>
</div>
</div>
</div>
</div>
<br>
<br>
<br>
<br>

<div class="center">
  <div class="row justify-content-center">
   <div class="col-md-1 col-centered">
    <img src="{% static 'site_images/temp_logo.png' %}" alt="Site Logo" style="width: 60px;">
    </div>
  
  </div>
  <center><p><i>--  Automated Credit Model  --&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i></p></center>
  </div>
</div>

{% endblock %}