
{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Liquital - Empowering SMEs</title>
  <meta content="Liquital provides innovative funding solutions to South African SMEs."
    name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

 <!-- Vendor CSS Files -->
 <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet" />
 <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
 <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons' %}.css" rel="stylesheet" />
 <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet" />
 <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet" />
 <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet" />
 <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet" />

 <!-- Template Main CSS File -->
 <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />

  <style>

  
    .accordion-button {
      transition: background-color 0.3s ease;
    }
  
    .accordion-button:hover {
      background-color: #e9ecef;
      color: #0056b3;
    }
  
    .accordion-button:not(.collapsed) {
      color: #0056b3;
      background-color: #e9ecef;
    }

    .accordion-body{
      font-weight: bold;

    }
  </style>
</head>


<body>

  <!-- ======= Header ======= -->

  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="col d-flex align-items-center">
        <div>
          <img src="{% static 'assets/img/icon.png' %}" alt="Liquital Logo" class="img-fluid"
            style="width: 35px; margin-right: 10px;">
        </div>

        <div>
          <h1 class="logo" style="margin-bottom: 0;">
            <a href="{% url 'business_funding' %}"> LIQUITAL</a>
          </h1>
        </div>
      </div>

      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto space-letters" href="{% url 'business_funding' %}">Business Funding</a></li>
          <li><a class="nav-link scrollto space-letters" href="{% url 'about_us' %}">About</a></li>
          <li><a class="nav-link scrollto space-letters" href="{% url 'contact_us' %}">Contact</a></li>
          <li><a class="nav-link scrollto space-letters active" href="{% url 'faq' %}">FAQ</a></li>
          <button class="home_btn apply_btn space-letters" type="button"
          onclick="location.href='{% url 'preapproval_application_1' %}'"><span>APPLY NOW</span></button>

          <button onclick="location.href='{% url 'client_login' %}'"
            class="home_btn space-letters login_btn"><span>LOGIN</span></button>

     

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>

      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->



  <main id="main">

    <!-- ======= About Section ======= -->
    <!-- ======= About Boxes Section ======= -->

    <section class="home">
      <div class="col-12 no-padding background_matte"
        style="background-color: #3a7bd5; background-image: url({% static 'assets/img/application-bg.jpg' %}); background-repeat: no-repeat; background-size: cover; max-height: 280px; display: flex; align-items: center; justify-content: center; text-align: center; color: #ffffff; position: relative;">

        <div style="position: relative; z-index: 1;  text-align: center;height:100%; width:100%">
          <div class="section-title">
            <div class="content" style="text-align: center;">
              <h3
                style="font-size: 44px; margin: 150px 0px; color: #f0efef;  text-shadow: 2px 2px 4px rgba(0,0,0,0.6);">
                <span
                  style=" border-bottom: 2px solid #3bbcb1;padding: 20px;"><strong>FAQ</strong></span>
              </h3>

            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq bg-light">
      <!-- <div class="container">
            <div class="section-title">
    
              <div class="content" style="text-align: center;">
                <h3 class="header_intro">Frequently Asked <strong>Questions</strong></h3>
              </div>
            </div> -->

      <div class="row">



        <div class="col-lg-12">

          <div class="container" style="text-align: center; padding:0px 40px 100px 40px">
            <h3 class="title-contact mb-4 ">Frequently Asked Questions</h3>
            <div class="accordion" id="faqAccordion">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    What are the eligibility requirements for applying?
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse"
                  aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
                  <div class="accordion-body">
                    - To be eligible to apply, your business must be registered, have been
                    operational for at least 12 months, and have an annual turnover of over
                    R1,000,000.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    How long does it take to receive funding after applying?
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse"
                  aria-labelledby="headingTwo" data-bs-parent="#faqAccordion">
                  <div class="accordion-body">
                    - Funding decisions are typically made within 24 to 48 hours after all necessary
                    documents are submitted.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false"
                    aria-controls="collapseThree">
                    Are there any fees involved in applying for funding?
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse"
                  aria-labelledby="headingThree" data-bs-parent="#faqAccordion">
                  <div class="accordion-body">
                    - There are no application fees; however, once approved, you will be informed
                    about the interest rates and any associated service fees.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFour" aria-expanded="false"
                    aria-controls="collapseFour">
                    What types of loans are available for SMEs?
                  </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse"
                  aria-labelledby="headingFour" data-bs-parent="#faqAccordion">
                  <div class="accordion-body">
                    - We offer a variety of loan products tailored to SMEs, including working
                    capital loans, equipment financing, invoice financing, and term loans. Each
                    product is designed to meet specific business needs, helping you manage cash
                    flow, purchase equipment, or grow your operations.
                  </div>
                </div>
              </div>


              <div class="accordion-item">
                <h2 class="accordion-header" id="headingFive">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFive" aria-expanded="false"
                    aria-controls="collapseFive">
                    Can I apply for a loan if my business is less than a year old?
                  </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse"
                  aria-labelledby="headingFive" data-bs-parent="#faqAccordion">
                  <div class="accordion-body">
                    - Typically, our lending products are available to businesses that have been in
                    operation for at least one year. However, if your business has shown significant
                    early success or growth, we encourage you to contact us to discuss potential
                    exceptions or alternative funding solutions.
                  </div>
                </div>
              </div>


              <div class="accordion-item">
                <h2 class="accordion-header" id="headingSix">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseSix" aria-expanded="false"
                    aria-controls="collapseSix">
                    How do you determine the loan amount and interest rates?
                  </button>
                </h2>
                <div id="collapseSix" class="accordion-collapse collapse"
                  aria-labelledby="headingSix" data-bs-parent="#faqAccordion">
                  <div class="accordion-body">
                    - Loan amounts and interest rates are determined based on several factors
                    including your business’s creditworthiness, financial history, annual revenue,
                    and market conditions. Our aim is to offer competitive rates that are aligned
                    with your business's capacity to manage repayments.
                  </div>
                </div>
              </div>


              <div class="accordion-item">
                <h2 class="accordion-header" id="headingSeven">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseSeven" aria-expanded="false"
                    aria-controls="collapseSeven">
                    What measures do you take to ensure the privacy and security of my business
                    information?
                  </button>
                </h2>
                <div id="collapseSeven" class="accordion-collapse collapse"
                  aria-labelledby="headingSeven" data-bs-parent="#faqAccordion">
                  <div class="accordion-body">
                    - We prioritize the security and confidentiality of all client information. Our
                    systems are secured with industry-standard encryption, and we adhere to strict
                    privacy policies to ensure that your data is not shared or sold to third parties
                    without your consent.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingEight">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseEight" aria-expanded="false"
                    aria-controls="collapseEight">
                    Are there any prepayment penalties?
                  </button>
                </h2>
                <div id="collapseEight" class="accordion-collapse collapse"
                  aria-labelledby="headingEight" data-bs-parent="#faqAccordion">
                  <div class="accordion-body">
                    - No, we do not charge any prepayment penalties. You are free to pay off your
                    loan early to save on interest without any additional fees.
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->


    <section class="dashed-hr">
      <br>
      <hr class="dashed-hr">
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Liquital</h3>
              <p>
                90 Rivonia Rd <br>
                Sandton, Johannesburg<br><br>
                <strong>Phone:</strong> +27 11 243 5454<br>
                <strong>Email:</strong> info@example.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Purchase Order Financing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Invoice Discounting</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Contract Financing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Asset Acquisition Financing</a>
              </li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Working Capital Loans</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Business Growth Advisory</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Get weekly financial updates</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Liquital</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/Liquital-free-multi-purpose-html-template/ -->
        Enterprise Number: <a href="#">2023/120348/12</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

   <!-- Vendor JS Files -->
   <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
   <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
   <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
   <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
   <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
   <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
   <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

   <!-- Template Main JS File -->
   <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>